#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.border {
  border: 1px solid black;
  padding: 10px;
}

.wrapper-nav{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.card{
  border: 1px solid black;
  padding: 20px 15px;
  margin: 10px 0;
  display: flex;
  gap: 20px;
    height: 25px;
    overflow: hidden;
  justify-content: space-between;
}

.card p{
  margin: 0;
  font-size: 17px;
}

.card p span {
  font-weight: 700;
}

.cart__number{
    width: 20px;
}

.card__title{
    width: 250px;
    font-weight: 500;
    overflow: hidden; 
}

.card__descr{
  height: 50px;
  flex: 1;
  white-space: nowrap;     /* Запрет переноса текста */
  overflow: hidden;        /* Скрытие лишнего текста */
  text-overflow: ellipsis; /* Добавление многоточия */
}

.card__buttons{
  display: flex;
  justify-content: space-evenly;
}

.filter-wrapper{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.filter-input{
  width: 100%;
  border: 1px solid teal;
}


/* CSSTransition */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.navbar_buttons{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}